*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

body{
      background-color: #ffffff;
      color: black 
}

.container-10{
  padding-left: 10px;
  padding-right: 10px;
}

/*.logo-dyv{
    width: 15%;

    display: flex;
    align-items: flex-end;
}

.logo-toyota{
    width: 15%;

    display: flex;
    align-items: flex-start;
}*/

.header-contacto{
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-contacto {
    background-color: white;
    padding: 10px 0px 10px 0px;
}

.lista-contacto li a,
.lista-redes-sociales li a{
    color: #424242;
    font-size: 14px;
}

.lista-contacto li a:hover,
.lista-redes-sociales li a:hover{
    text-decoration: none;
}

.lista-contacto li,
.lista-redes-sociales li {
    margin-left: 25px;
}

.lista-contacto{
    display: flex;
    justify-content: center;

    margin-bottom: 0px;
}

.lista-redes-sociales{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.thumbnail-no-bg{
  background-color: transparent !important;
} 
.thumbnail-no-border{
  border:none !important;
  padding: 0px;
}

.navbar{
  margin-bottom: 0px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #e9fdff;
}
.dropdown-menu > li > a {
    font-weight: 600;
}


/*NAVBAR Desktop--------------------------------------------
--------------------------------------------------------------*/
.navbar-ppal > li > a{
    color: white;
}

/*Efecto de subrayado a los <li> del menu principal */
.navbar-ppal > li:after {
  display:block;
  content: '';
  border-bottom: solid 4px #f30727;  
  transform: scaleX(0);  
  transition: transform 0.5s ease-in-out;
}

/*.navbar-ppal > li:hover:after { transform: scaleX(1); transform-origin:  0% 50%; }*/
.navbar-ppal > li:hover:after { transform: scaleX(1);  }


/*Quita el efecto hover por default de bootstrap*/
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
    color: white;
}

/*NAVBAR Mobile & Tablets----------------------------------------------------------------
---------------------------------------------------------------------------------*/
.navbar-default {
    background-color: #fff;
    border-color: #d3e0e9;
    border-radius: 0px;
    margin-bottom: 0px;
}


/*Hover Redes Sociales-----------------------------------------
------------------------------------------------------------------*/
    .tw{
        border-radius: 50%;
        /*height: 30px;*/
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tw:hover{
      /*-webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.69);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.69);
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.69);*/
        -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75);
        cursor: pointer;
    }


/*SECTION Prallax image---------------------------------------------
----------------------------------------------------------------------- */
.parallax {
  position: relative;
  opacity: 0.65;
  overflow: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax.bg3 {
    background-image: url('/imagenes/empresa.jpg');
    min-height: 500px;
    opacity: 1;
}

.parallax .caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.parallax .caption span.border {
  background-color: #111;
  color: #fff;
  padding: 15px !important; /* To override .full */
  font-size: 25px;
  letter-spacing: 10px;
}
.parallax .col-xs-12 {
  position: static;
}
.parallax .caption {
  transform: translateY(-50%);
}




/*Slider Principal + NavBar (Texto flotante)
----------------------------------------------------------------------------------*/
.overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
}

/* CUSTOMIZE THE NAVBAR-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}





/*----MEDIA QUERYS-------------------------------------------------
---------------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
    .lista-contacto{ display: none }
}
@media only screen and (max-width: 768px) {
    .navbar-wrapper{ margin-top: 90px; }
}


/*-----------------TABS
---------------------------------------------------------------------------*/

/* colors */
$blue: #428BFF;
$red: #FF4A53;
$dark: #333;

$accent: $blue;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;


/* tab setting */
$tab-count: 4;
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count*250px},
  small: #{$tab-count*150px}
);


/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector) {
    
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

.tabs {
  height: 250px;
  padding: 50px;
  padding-bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  /*background: white;
  width: 70%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;*/
  min-width: #{$tab-count * 60px};
  input[name="tab-control"] {
    display: none;
  }
  
  .content section h2,
  ul li label {
    /*font-family: "Montserrat";*/
    font-weight: bold;
    font-size: 18px;
    color: $accent;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    
    li {
      box-sizing: border-box;
      flex: 1;
      width: #{100%/$tab-count};
      padding: 0 10px;
      text-align: center;
      
      label {
        transition: all 0.3s ease-in-out;
        color: $secondary;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        @include user-select(none);
        
        br {
          display: none;
        }
        
        svg {
          fill: $secondary;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.2em;
          transition: all 0.2s ease-in-out;
        }
        
        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);
          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }
  
  .slider {
    position: relative;
    width: #{100%/$tab-count};
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;     
    }

  }
  
  .content {
    margin-top: 30px;
    
    section {
      display: none;
      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }
      line-height: 1.4;
      
      h2 {
        color: $accent;
        display: none;
        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }
  
  input[name="tab-control"] {
    @include tabs {
      > label {
        cursor: default;
        color: $accent;
        
        svg {
          fill: $accent;
        }
        
        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;
      
      br {
        display: initial;
      }
      
      svg {
        height: 1.5em;
      }
    }
  }
  
  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;
      
      span {
        display: none;
      }
    }
    
    .slider {
      display: none;
    }
    
    .content {
      margin-top: 20px; 
      section h2 {
        display: block;
      }
    }
  }
}
/*-------------------------------------------------------------------------------------*/



/*----------------Liezo---------------------------------------------------------------------*/
.hover-block{
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 10;
 }
 /*-----------------------------------------------------------------------------------------*/

/*-------------Arrows o Flechas para el inicio o fin de una <section>, <div>, <article> etc.*/
 .arrow_box {
    position: relative;
    background: #ffffff;
    border-bottom: 4px solid #ff0000;
  }
  .arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 30px;
    margin-left: -30px;
  }
  .arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #ff0000;
    border-width: 36px;
    margin-left: -36px;
  }

  /*-------------------------------------------------------------------------------------------*/