.form-group.requerido .control-label:after {
    content: "(*)";
    color: red;
}

.pointer {
    cursor: pointer;
}

#div_file {
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div_file p {
    text-align: center;
    cursor: pointer;
}

#div_file input {
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.has-search .form-control-feedback {
    position: absolute !important;
    z-index: 2 !important;
    display: block !important;
    width: 2.375rem !important;
    height: 2.375rem !important;
    line-height: 2.375rem !important;
    text-align: center !important;
    pointer-events: none !important;
    color: #aaa !important;
}
.has-search .form-control {
    padding-left: 2.375rem !important;
}

.sidebar-header {
    background: transparent;
    color: #adb5bd;
    padding: 1.125rem 1.5rem .375rem 0.8rem;
    font-size: .75rem;
    text-transform: none;
}
.w-5{ width: 5%  }
.w-10{ width: 10%  }
.w-15{ width: 15%  }
.w-20{ width: 20%  }
.w-30{ width: 30%  }
.w-35{ width: 35%  }
.w-40{ width: 40%  }
.w-45{ width: 45%  }

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    padding: 20px 30px
}
