@font-face {
  font-family: ToyotaFont;
  src: url('/fonts/toyotadisplay.woff');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
}

body {
  background-color: #ffffff;
  color: black
}

footer {
  background-color: #635e5e;
}

/*-------------------------------------------
// FLEXBOX SECTION
-------------------------------------------*/
.d-block {
  display: block;
}

.flex {
  display: flex;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.flex-d-col {
  flex-direction: column;
}

.flecha-bajar a {
  text-decoration: none;
  display: inline-block;
  font-size: 4rem;
  animation: flecha-animada 2s ease-in-out infinite;
}

.o-flw-hiden {
  overflow: hidden;
}

@keyframes flecha-animada {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6px);
  }

  top {
    transform: translateY(0);
  }

}

.well {
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
}

.row-no-margin {
  margin: 0px !important;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.rotate-180 > img {
  -webkit-transition: -webkit-transform .6s;
  -ms-transition: -ms-transform .6s;
  transition: transform .6s;
}

.rotate-180:hover > img {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.en_proceso .imagen_gira {
  background: transparent;  /*height: 40px*/
  ;
  border-radius: 0;  /*-webkit-animation: rotateRct 1.2s ease-in-out infinite, color-change 1.3s ease-in-out infinite;*/
  animation: rotateRct 1.2s ease-in-out infinite;/*, color-change 1.3s ease-in-out infinite;*/
}

.contact-details .media {
  margin: 0 0 30px;
}

.contact-details .media .media-left {
  padding-right: 25px;
}

.media-body,
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top;
}

.contact-details .media .media-left i {
  width: 55px;
  font-size: 24px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  text-align: center;
  color: #333;
  border: 1px dashed #333;
}

.logos-content > div > img {
  padding: 0px 15px 0px 15px;
}

footer .row {
  margin-right: 0px;
  margin-left: 0px;
}

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}

#f1_container {
  perspective: 1000;
}

#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s linear;
}

#f1_container:hover #f1_card {
  -webkit-transition: -webkit-transform 0.7s ease-in;
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

.item-footer-social {
  padding: 0px 10px 0px 10px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {

  /*position: relative;*/
  right: 0;
  bottom: 0;
  min-width: 100%;    /*min-height: 100%;*/
}

/* Add some content at the bottom of the video/page */
.content {
  position: absolute;    /*top: 0;*/
  margin-top: -650px;
  margin-left: 25px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;    /*width: 50%;*/
  padding: 25px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.navbar-mobile > li > a {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.navbar-mobile > li {
  padding-top: 4px;
  padding-bottom: 4px;
}

/*-----------------------------------------------------
// NUEVA BARRA DE NAVEGACION MOBILE
-----------------------------------------------------*/
.encabezado {
  background-color: white;
  color: #777;
  padding: .5rem 0;
  border-bottom: 1px solid #d3e0e9;
}

.encabezado .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.encabezado .logo img {
  width: 270px;
  height: auto;
}

.boton-menu {
  border: 0;
  font-size: 3rem;
  margin: 0;
  padding: 0 .8rem;
  background: transparent;
  color: #777;
  margin-left: auto;
  outline: 0;
}

#menu-principal {
  flex: 1 1 100%;
}

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin-left: 1rem 0 0 0;
}

#menu-principal ul a {
  display: block;
  padding: 1.1rem 0;
  text-align: center;
  color: #777;
  text-transform: uppercase;
  border-top: 1px solid #dac7cf;
  text-decoration: none;
  font-size: 1.9rem;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  background-color: #e01e37;
  color: #fff;
}

/*--------------FIN NUEVA BARRA MOBILE----------------------*/
@keyframes rotateRct {
  0% {

    /*    -ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);*/
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
    opacity: 1;
  }

  70% {

    /*    -ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);*/
    transform: perspective(500px) rotateY(360deg) rotateX(0deg);    /*scale(1.5);*/
    opacity: .5;
  }

  100% {

    /*    -ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);*/
    transform: perspective(500px) rotateY(360deg) rotateX(0deg);
    opacity: 1;
  }

}

.animacion_vi {

  /*width: 100%;
  display:block;
  width:auto;*/
  height: 40px;
  position: absolute;
  font-family: georgia, serif;
  font-size: 16px;
  line-height: 40px;
  width: auto;
  color: #F95A5A;
  font-weight: bold;
  padding: 0 10px;    /*-webkit-animation-iteration-count: infinite;*/
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 9s;
  -webkit-animation-name: scroll;
  overflow: hidden;
}

.contenedor_vi {
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  61% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.features p {
  color: crimson;
}

.hand {
  cursor: pointer;
}

.i-item-list {
  width: 30px;
}

.container-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.mar-top-20 {
  margin-top: 20px;
}

.mar-top-40 {
  margin-top: 40px;
}

.mar-top-15 {
  margin-top: 15px;
}

.mar-bot-15 {
  margin-bottom: 15px;
}

.mar-bot-20 {
  margin-bottom: 20px;
}

.mar-bot-25 {
  margin-bottom: 25px;
}

.pad-bot-20 {
  padding-bottom: 20px;
}

.pad-bot-25 {
  padding-bottom: 25px;
}

.pad-bot-30 {
  padding-bottom: 30px;
}

.pad-bot-40 {
  padding-bottom: 40px;
}

.pad-bot-50 {
  padding-bottom: 50px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-25 {
  padding-top: 25px;
}

.pad-top-30 {
  padding-top: 30px;
}

.pad-top-40 {
  padding-top: 40px;
}

.pad-top-50 {
  padding-top: 50px;
}

.pad-top-bot-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pad-top-bot-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pad-top-bot-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad-bot-25 {
  padding-bottom: 25px;
}

.h1-titulo-form {
  padding: 30px 0px 30px 0px;
}

.text-primary-1 {
  color: #f05f40 !important;
}

.dropdown-menu > li > a {
  line-height: 2.1
}

.my-3 {
  margin: 3rem 0rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}

.pl-2 {
  padding-left: 2rem
}

.pl-3 {
  padding-left: 3rem
}

.pr-2 {
  padding-right: 2rem
}

.pr-3 {
  padding-right: 3rem
}

/*ANCHOS-------------------------------------------*/
.w-100 {
  width: 100%
}

.w-75 {
  width: 75%
}

.w-50 {
  width: 50%
}

.w-25 {
  width: 25%
}

/*TAMAÑO FUENTES-------------------------------------------*/
.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-25 {
  font-size: 25px;
}

.fs-20 {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

/*--------------------COLORES--------------------------------
--------------------------------------------------------------*/
$rojo-toyota: #e01e37;
$rojo-toyota-2:#ff0019;
$rojo-toyota-3:#b83837;
$rojo-1:#d03554;
$gris-toyota: #58595b;
$gris: #58595b;
$gris-1:#808080;
$gris-2:#626262;

.white {
  color: white !important;
}

.gray {
  color: #58595b;
}

.gray-1 {
  color: #808080;
}

.gray-2 {
  color: $gris-2;
}

.red {
  color: #d71921;
}

.red-toyota-1 {
  color: #ff0019;
}

.red-toyota-2 {
  color: #eb0a1e;
}

.gray-toyota {
  color: $gris-toyota
}

/*BOTONES------------------------------------------------*/
.btn {
  border-radius: 0px !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-toyota {
  color: #fff;
  background-color: #e01e37;
  border-color: #aa4a24;
}

.btn-toyota:hover {
  color: #fff;
  background-color: #000000;
  border-color: #78341a;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-white.btn-outline {
  color: #fafafa;
  border: solid 2px white;
}

.btn-white.btn-outline:hover {
  background-color: #ffffff;
  color: black;
}

.btn-danger-1 {
  background-color: $rojo-1;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-whatsapp {
  background-color: #189d0e;
  border: solid 2px #258e1d;
}

.btn-whatsapp:hover,
.btn-whatsapp:focus {
  background-color: #13820a;
  border: solid 2px #258e1d;
  color: white;
}

.btn-black {
  background-color: #000;
  color: #FFF;
}

.btn-black:hover {
  color: #FFF;
}

.btn-rojo-pastel {
  background-color: #ca3f3f;
  color: #FFF;
}

.btn-rojo-pastel:hover {
  color: #FFF;
}

/*------------------------------------------------*/
.tarjeta {
  width: 100%;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.tarjeta-contenido {
  display: flex;
  border-bottom: #e4091d 6px solid;
  padding: .7rem 2.2rem
}

.tarjeta-contenido .contenido-izquierda {
  width: 30%;
  z-index: 1000;
}

.tarjeta-contenido .contenido-derecha {
  width: 70%;
}

.tarjeta-contenido .contenido-derecha img {
  width: 100%
}

.tarjeta-contenido .contenido-izquierda p {
  font-size: 1.6rem
}

.header-contacto {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  padding: 10px 0px 10px 0px;
}

.header-ppal {
  background-color: white;
  padding: 8px 0px;
}

.lista-contacto li a,
.lista-redes-sociales li a {
  color: #424242;
  font-size: 14px;
}

.lista-redes-sociales li a img {
  opacity: 1;
}

.lista-redes-sociales li a img:hover {
  opacity: 0.7;
}

.lista-contacto li a:hover,
.lista-redes-sociales li a:hover {
  text-decoration: none;
}

.lista-contacto li {
  margin-left: 25px;
}

.lista-contacto {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.lista-redes-sociales {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.lista-redes-sociales li {
  margin-left: 10px;
  margin-right: 10px;
}

.thumbnail-no-bg {
  background-color: transparent !important;
}

.thumbnail-no-border {
  border: none !important;
  padding: 0px;
}

.thumbnail-red {

  /*background-color: #ff;1826;*/
  background-color: #715757;
}

.thumbnail-red > .caption-default {
  color: white;
}

.thumbnail-red > .caption-default > a {
  color: white;
  font-size: 18px;
}

.thumbnail-financial .caption p {
  font-size: 17px;
}

.thumbnail-no-bg {
  background-color: transparent;
  transition: transform .3s;
}

.thumbnail-hover:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.75);
}

.thumbnail-hover:hover > .caption {
  background-color: $gris-toyota;
  transition: all .4s;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.75);
}

.thumbnail-hover:hover > .caption > p {
  color: white;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #e9fdff;
}

.dropdown-menu > li > a {
  font-weight: 600;
}

.features div {
  padding: 5px 35px 5px 35px;
}

/*Modelo SECTION--------------------------------------------------------------
---------------------------------------------------------------------------*/
.list-colors:hover {
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  border: solid 1px #484848;
  height: 30px;
  width: 30px;
}

.active_circle {
  border: solid 3px #66d4fd;
}

.active_li {

  /*background: #fff;*/
  filter: alpha(opacity=0);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  border-radius: 50%;
  -webkit-transition: transform .4s cubic-bezier(.175, .885, .32, 3.5), opacity .1s linear;
  -moz-transition: transform .4s cubic-bezier(.175, .885, .32, 3.5), opacity .1s linear;
  -ms-transition: transform .4s cubic-bezier(.175, .885, .32, 3.5), opacity .1s linear;
  -o-transition: transform .4s cubic-bezier(.175, .885, .32, 3.5), opacity .1s linear;
  transition: transform .4s cubic-bezier(.175, .885, .32, 3.5), opacity .1s linear;
}

.caption-default > h4 {
  color: #404048 !important;
  text-shadow: 0px 0px 0px #ffffff;
  font-weight: bold;
}

.caption-default > h3 {
  color: #404048 !important;
  text-shadow: 0px 0px 0px #ffffff;
  font-weight: bold;
}

.text-shadow {
  font-weight: bold;
  color: #404048 !important;
  text-shadow: 0px 0px 0px #ffffff;
}

/*NAVBAR Desktop--------------------------------------------
--------------------------------------------------------------*/
.navbar-ppal > li > a {
  color: white;
}

/*Efecto de subrayado a los <li> del menu principal */
.navbar-ppal > li:after {
  display: block;
  content: '';
  border-bottom: solid 4px #f30727;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

/*.navbar-ppal > li:hover:after { transform: scaleX(1); transform-origin:  0% 50%; }*/
.navbar-ppal > li:hover:after {
  transform: scaleX(1);
}

/*Quita el efecto hover por default de bootstrap*/
.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent !important;
  color: white;
}

/*NAVBAR Mobile & Tablets----------------------------------------------------------------
---------------------------------------------------------------------------------*/
.navbar-default {
  background-color: #fff;
  border-color: #d3e0e9;
  border-radius: 0px;
  margin-bottom: 0px;
}

/*Hover Redes Sociales-----------------------------------------
------------------------------------------------------------------*/
.tw {
  border-radius: 50%;        /*height: 30px;*/
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tw:hover {

  /*-webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.69);
    -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.69);
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.69);*/
  -webkit-box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/*SECTION Prallax image---------------------------------------------
----------------------------------------------------------------------- */
.parallax {
  position: relative;
  opacity: 0.65;
  overflow: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax.bg3 {
  background-image: url('/imagenes/dyv2019.png');
  min-height: 500px;
  opacity: 1;
}

.parallax .caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.parallax .caption span.border {
  background-color: #111;
  color: #fff;
  padding: 15px !important; /* To override .full */
  font-size: 25px;
  letter-spacing: 10px;
}

.parallax .col-xs-12 {
  position: static;
}

.parallax .caption {
  transform: translateY(-50%);
}

/*--------------PANELS------------------------*/
.panel-title-financial > a > h4 {
  color: black;
  font-weight: bold;
  font-size: 23px;
}

/*--------------------------------------------*/

/*Slider Principal + NavBar (Texto flotante)
----------------------------------------------------------------------------------*/
.overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* CUSTOMIZE THE NAVBAR-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  // top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/*----MEDIA QUERYS-------------------------------------------------
---------------------------------------------------------------------*/
@media only screen and (max-width:450px) {
  .encabezado .logo img {
    width: 250px;
    height: auto;
  }

}

@media screen and (max-width:768px) {
  .remove-flex-on-mobile {
    display: block !important;
  }

  .center-on-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width:992px) {
  .image-service .is-image {
    width: 100%;
  }

  .image-service .is-desc-sm-xs {
    position: absolute;
    padding: 40px;
    margin-left: 5%;
    background: #fff;
    top: 100%;
    width: 85%;
    z-index: 2;
    -webkit-transform: translateY(-50%);
  }

  .section-mant-exp {
    padding-bottom: 150px;
  }

  .via-whatsapp {
    margin-top: 50px;
  }

}

@media only screen and (max-width:992px) {
  .lista-contacto {
    display: none
  }

  .col-sm-pb-1 {
    padding-bottom: 1rem;
  }

  .col-sm-pb-2 {
    padding-bottom: 2rem;
  }

  .col-sm-pb-3 {
    padding-bottom: 3rem;
  }

  .col-sm-pb-4 {
    padding-bottom: 4rem;
  }

}

@media only screen and (max-width:768px) {
  .navbar-wrapper {
    margin-top: 90px;
  }

  .section-mant-exp {
    padding-bottom: 190px;
  }

}

/*-----------------TABS
---------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------*/

/*----------------Lienzo---------------------------------------------------------------------*/
.hover-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 10;
}

/*-----------------------------------------------------------------------------------------*/

/*-------------Arrows o Flechas para el inicio o fin de una <section>, <div>, <article> etc.*/
.arrow_box {
  position: relative;
  background: #ffffff;
  border-bottom: 4px solid #ff0000;
}

.arrow_box:after,
.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 30px;
  margin-left: -30px;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #ff0000;
  border-width: 36px;
  margin-left: -36px;
}

/*-------------------------------------------------------------------------------------------*/

/*FOOTER-------------------------------------------------------------------------------------*/
.footer-menu > li {
  font-size: 22px;
}

.footer-menu > li > a {
  color: white;
  font-weight: bold;
}

.h-dyv {
  color: white;
  font-weight: bold;
  font-size: 55px;
}

.row-footer {
  padding: 15px 0px 15px 0px;
}

.row-footer-last {
  padding: 15px 0px 0px 0px;
  border-top: 3px dashed #a09394;
}

.row-footer-first {
  padding: 15px 0px 0px 0px;
}

.row-footer h1 {
  color: white;
}

.row-footer-border {
  border-bottom: 3px dashed #a09394
}

.row-footer-social {
  border-top: 6px solid #a09394;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.row-footer-social > .phone {
  margin-left: 28px;
  margin-right: 28px;
}

.row-footer-social > .dir > h4 > small {
  color: #aeaeae
}

/*.slide-left {
position: relative;
left: -500px;
opacity: 0;
}

 .slide-left-show {
transition: all 1s;
left: 0;
opacity: 1;
}*/

/*-------------------------------------------------
// ABRIR IMAGENES EN MODALWINDOW
--------------------------------------------------*/

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal-img {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  /*padding-top: 100px;*/ /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 55%;    /*max-width: 700px;*/
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }

}

/* The Close Button */
.close-on-click {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-on-click:hover,
.close-on-click:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width:700px) {
  .modal-content {
    width: 100%;
  }

}

/*Zoom-in on hover*/
.item-hover {
  position: relative;
  overflow: hidden;
}

.item-hover img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-hover:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*------Menu FAB Horizontal--------------------------------------------------
-------------------------------------------------------------------*/

/* Extra Small Devices, Phones */
@media only screen and (max-width:480px) {
  .btn-group-vertical {

    /*display:none;*/
    top: calc(92% - 100px);
  }

}

@media only screen and (min-width:481px) {
  .btn-group-vertical {
    top: calc(90% - 100px);
  }

}

// -------------------------------------------------------
// Sweet Alert2
//--------------------------------------------------------
.swal2-popup {
  font-size: 1.6rem !important;
}

/*------------------------------------------
// RIBBONS - (etiquetas)
-------------------------------------------*/
.box {
  border: 1px solid #CCC;
  padding: 40px 25px;
  background: #FFF;
  max-width: 400px;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}

.box.ofh {
  overflow: hidden;
}

/* Ribbon 1 */
.top-cross-ribbon {
  background: #EA4335;
  padding: 7px 50px;
  color: #FFF;
  position: absolute;
  top: 0;
  right: -50px;
  transform: rotate(45deg);
  border: 1px dashed #FFF;
  box-shadow: 0 0 0 3px #EA4335;
  margin: 5px;
}

/* Ribbon 2*/
.arrow-ribbon {
  background: #EA4335;
  color: #FFF;
  padding: 7px 50px;
  position: absolute;
  bottom: 10px;
  right: -1px;
}

.arrow-ribbon:before {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  left: -12px;
  border-top: 15px solid transparent;
  border-right: 12px solid #EA4335;
  border-bottom: 15px solid transparent;
  width: 0;
}

/* Ribbon 3 */
.bottom-ribbon {
  background: #EA4335;
  color: #FFF;
  padding: 7px 50px;
  position: absolute;
  bottom: 10px;
  right: -1px;
  border-radius: 20px 0 0 20px;
}

.bottom-ribbon:after {
  position: absolute;
  right: -25px;
  top: -18px;
  bottom: 0;
  z-index: 9999;
  content: "";
  border-bottom: 43px solid #EA4335;
  border-left: 38px solid transparent;
  border-right: 20px solid transparent;
  width: 42px;
  z-index: -1;
}

/*Ribbon 4 */
.half-circle-ribbon {
  background: #EA4335;
  color: #FFF;
  height: 60px;
  width: 60px;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
  position: absolute;
  top: -1px;
  right: -1px;
  flex-direction: row;
  border-radius: 0 0 0 100%;
  border: 1px dashed #FFF;
  box-shadow: 0 0 0 3px #EA4335;
}

/* Ribbon 5 */
.cross-shadow-ribbon {
  position: absolute;
  background: #EA4335;
  top: -15px;
  padding: 10px;
  margin-left: 15px;
  color: #FFF;
  border-radius: 0 0 2px 2px;
}

.cross-shadow-ribbon:before {
  content: "";
  position: absolute;
  left: -15px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #A42F25;
  border-left: 15px solid transparent;
}

/* Ribbon 6 */
.cover-ribbon {
  height: 115px;
  width: 115px;
  position: absolute;
  right: -8px;
  top: -8px;
  overflow: hidden;
}

.cover-ribbon .cover-ribbon-inside {
  background: #EA4335;
  color: #FFF;
  transform: rotate(45deg);
  position: absolute;
  right: -35px;
  top: 15px;
  padding: 10px;
  min-width: 127px;
  text-align: center;
}

.cover-ribbon .cover-ribbon-inside:before {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #992C23;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  top: 35px;
  transform: rotate(-45deg);
}

.cover-ribbon .cover-ribbon-inside:after {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 10px solid #992C23;
  border-bottom: 7px solid transparent;
  position: absolute;
  left: 95%;
  right: 0;
  top: 34px;
  bottom: 0;
  content: "";
  transform: rotate(-45deg);
}

/*--------------------------------------------
// ESTILOS POSTS - NOTICIAS - EVENTOS - RSE
---------------------------------------------*/
.vc_column-inner::after,
.vc_column-inner::before {
  content: " ";
  display: table;
}

.vc_column-inner::after {
  clear: both;
}

.vc_column-inner::after,
.vc_column-inner::before {
  content: " ";
  display: table;
}

.wpb_column>.vc_column-inner>.wpb_wrapper>:last-child {
  margin-bottom: 0;
}

.stm_widget_recent_news {
  position: relative;
  margin-bottom: 30px;
}

.stm_widget_recent_news .recent-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

.stm_widget_recent_news .recent-top .left {
  display: block;
  width: 50%;    /*width: 100%;*/
}

.stm_widget_recent_news .recent-top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 50%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.stm_widget_recent_news .recent-top .right .cat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0 15px 0 0;
  color: #3c98ff;
}

.stm_widget_recent_news .recent-top .right .cat-list li {
  padding: 0 20px;
  margin: 0;
}

.stm_widget_recent_news .recent-top .right .cat-list li.active a {
  color: #3c98ff;
}

.stm_widget_recent_news .recent-top .right .cat-list li a {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.stm_widget_recent_news h4 {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 0;
}

.stm_widget_recent_news .recentNewsAnimate {
  padding-right: 30px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  opacity: 1;
}

.stm_widget_recent_news .stm_magazine_single_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 38px 0 40px;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.stm_widget_recent_news .stm_magazine_single_list .magazine-list-img {
  display: block;
  width: 39%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.stm_widget_recent_news .stm_magazine_single_list .magazine-list-img img {
  display: block;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data {
  width: 65%;
  padding: 0 0 0 27px;
}

.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data h3 {
  display: block;
  width: 100%;
  clear: both;
  color: #333;
  font-size: 22px !important;
  letter-spacing: 0px;    /*margin-bottom: 0;*/
}

.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  overflow: hidden;
  padding: 20px 0;
}

.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content .magazine-category,
.magazine-category-tema {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  background: #18ca3e;
  padding: 1px 7px;
  margin-right: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content .magazine-loop-date,
.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content .magazine-loop-reviews,
.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content .magazine-loop-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-right: 20px;
}

.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content .magazine-loop-date,
.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content .magazine-loop-reviews,
.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content .magazine-loop-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-right: 20px;
}

.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content .magazine-loop-date,
.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content .magazine-loop-reviews,
.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .middle-content .magazine-loop-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-right: 20px;
}

.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .bottom-content {
  padding-top: 3px;
}

.stm_widget_recent_news .stm_magazine_single_list .stm-magazine-loop-data .bottom-content p {
  display: block;
  font-size: 13px;
  color: #888;
  line-height: 20px;
  margin: 0;
}

.stm-magazine-loop-data .top-content {
  margin-top: 0px !important;
  margin-bottom: 0px !important
}

.stm_widget_recent_news:before {
  content: '';
  display: block;
  width: 1px;
  height: 92%;
  background: #ccc;
  position: absolute;
  top: 63px;
  right: 0;
}

.stm_widget_recent_news .recent-top:before {
  content: '';
  display: block;
  background: #3c98ff;
  width: 70px;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: 1;
}

.stm-most-popular-posts {
  display: block;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

.stm-most-popular-posts h2 {
  margin-top: 7px;
  margin-bottom: 30px;
  font-size: 15px !important;
  text-transform: uppercase;
}

.stm-most-popular-posts .stm-magazine-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-decoration: none;
  margin-bottom: 30px;
}

.stm-most-popular-posts .stm-magazine-news .image {
  width: 92px;
  min-width: 92px;
  margin-right: 14px;
}

.stm-most-popular-posts .stm-magazine-news .image img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.stm-most-popular-posts .stm-magazine-news .stm-post-content .title {
  font-size: 12px;
  font-weight: 500;
  color: #293742;
  line-height: 18px;
  margin-bottom: 12px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.stm-most-popular-posts .stm-magazine-news .stm-post-content .recomended-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.stm-most-popular-posts .stm-magazine-news .stm-post-content .recomended-data .comments-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #888;
  margin-right: 22px;
  font-size: 12px;
}

.stm-most-popular-posts .stm-magazine-news .stm-post-content .recomended-data .comments-number i {
  font-size: 14px;
  color: #888;
  margin-right: 10px;
}

.stm-most-popular-posts .stm-magazine-news .stm-post-content .title {
  font-size: 14px;
  font-weight: 500;
  color: #293742;
  line-height: 18px;
  margin-bottom: 12px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

.title-section:before {
  content: "";
  display: block;
  background: #3c98ff;
  width: 70px;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: 1;
}

.title-section h1,
.title-section h2,
.title-section h3,
.title-section h4,
.title-section h5 {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 0;
}
