.w-5{ width: 5%  }
.w-10{ width: 10%  }
.w-15{ width: 15%  }
.w-20{ width: 20%  }
.w-40{ width: 40%  }
.w-60{ width: 60%  }
.w-70{ width: 70%  }
.w-80{ width: 80%  }
.w-90{ width: 90%  }
.w-95{ width: 95%  }

.pointer { cursor: pointer; }

.form-group.requerido .control-label:after {
    content: "(*)";
    color: red;
}

.obj-fit-cover{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#div_file {
    // cursor: pointer;
    // padding: 5px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    position: relative;
    width: 100%;
    height: 170px; 
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
#div_file img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 7px;
    border-radius: 10px;
}

#div_file .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_file .icon-upload {
    font-size: 75px;
    color: #9658fe;
}

#div_file .text {
    font-size: 15px;
    font-weight: 500;
    color: #5B5B7B;
}

#div_file input {
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.has-search .form-control-feedback {
    position: absolute !important;
    z-index: 2 !important;
    display: block !important;
    width: 2.375rem !important;
    height: 2.375rem !important;
    line-height: 2.375rem !important;
    text-align: center !important;
    pointer-events: none !important;
    color: #aaa !important;
}
.has-search .form-control {
    padding-left: 2.375rem !important;
}

.sidebar-header {
    background: transparent;
    color: #adb5bd;
    padding: 1.125rem 1.5rem .375rem 0.8rem;
    font-size: .75rem;
    text-transform: none;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    padding: 20px 30px
}

/*
*   CARD-PANEL-HEADER
*/
.card .card-panel{
    margin-bottom: 20px;
}
.card .card-panel .icon-header{
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color:white;
}


/*
*  ENTRADAS
***/

.ul-posts .img-post{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 2px;
    border-radius: 5px;
}